* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #F2F2F2;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}

.logo {
    cursor: pointer;
    width: 8rem;
    margin-right: auto;
}

li, a, .add {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #514F8C;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 60px;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #af8ec5;
}

.add {
    padding: 4px 25px;
    background-color: #514F8C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #F2F2F2;
    font-weight: 300;
    transition: all 0.3s ease 0s;
    outline-style: none;
}

.add:hover {
    background-color: #9377A6;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #514F8C;
    margin: 5px;
}



.presentation {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 92vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text1 {
    font-size: 72px;
    font-weight: 600;
    color: #514F8C;
}

.introduction-2 {
    flex: 1;
}

.intro-text2 {
    font-size: 20px;
    font-weight: 400;
    color: #514F8C;
}

.cta {
    padding: 30px 0px;
    overflow: hidden;
}

.addme {
    border: none;
    border-radius: 10px;
    background-color: #514F8C;
    color: #F4F4F4;
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    transition: ease-out 0.3s;
}
.addme:hover {
    box-shadow: inset 150px 0 0 0 #F4F4F4;
    color: #514F8C;
    border: 2px solid;
}

.ilust-container {
    flex: 1;
}
/* girl phone */
.grlp {
    position: relative;
    bottom: 10px;
    left: 0px;
    width: 100%;
    z-index: -1;
}

@media screen and (min-width:768px) {
    .working {
        display: none;
    }
}


@media screen and (max-width:768px) {
    /* .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        background-color: #514F8C;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links {
        display: none;
    } 
    */
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body {
        font-family: 'Poppins', sans-serif;
        min-height: 100vh;
        background-color: #F2F2F2;
    }
    header {
        display: none;
    }
    main {
        display: none;
    }
    .cta {
        padding: 30px 0px;
        overflow: hidden;
        outline-style: none;
    }
    .addme {
        border: none;
        border-radius: 50px;
        background-color: #514F8C;
        color: #F4F4F4;
        width: 150px;
        height: 40px;
        cursor: pointer;
        font-size: 15px;
        outline-style: none;
        font-weight: 400;
        font-size: 14pt;
        font-family: 'Poppins', sans-serif;
    }
    .wonit {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #F4F4F4;
    }
    .catcom {
        width: auto;
        z-index: 1;
        position: relative;
        width: auto;
        height: auto;
        align-self: center;
        margin-bottom: 30px;
    }
    .sorry-container {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .sorry-container {
        text-align: center;
        position: absolute;
        top: 35%;
        /* posiciona na metade da tela */
        margin-top: -50px;
        /* e retrocede metade da altura */
    }
    .sorry-container h1 {
        font-weight: 700;
        color: #4B4A4A;
        text-transform: uppercase;
    }
    .sorry-container p {
        color: #4B4A4A;
        margin: 10px;
    }
    .man {
        display: none;
    }
    .foot {
        display: none;
    }
}





.feat-box {
    display: flex;
    /*width: 85%; */
    width: 95%;
    margin: 50px auto -150px;
    border-radius: 40px;
    min-height: 70vh;
    background-color: #514F8C;
}

.ft-intro h1 {
    margin: 38px 0px 0px 80px;
    font-size: 40pt;
    color: #F2F2F2;
    font-weight: 600;
}

.prefix {
    margin: 5px 0px 0px 80px;
    border-radius: 10px;
    max-width: 33%;
    padding: 5px 20px 5px 10px;
    height: auto;
    background-color: #F2F2F2;
    align-items: center;
}

.ft-intro p {
    margin: auto;
    font-size: 14pt;
    color: #514F8C;
    font-weight: 600;
}

.party {
    left: 7.4cm;
    bottom: 10px;
    position: relative;
    width: 40%;
}

.desc-container {
    width: 75%;
    margin: 5px 0px 0px 20px;
    padding: 50px 30px 0px 0px;
    flex: 1;
    display: flex;
    max-height: 60vh;
}

.desc-container p {
    color: azure;
    margin-left: 60px;
    font-weight: 500;
    flex-direction: column;
}

.party {
    bottom: 300px;
    width: 50%;
}

/*Footer */

footer {
    background-color: #9377A6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-section ul {
    margin: 0px;
    padding: 0px 20px;
}

.up-section {
    display: flex;
    justify-content: space-between;
    padding: 1% 0px;
    align-items: center;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
}

.f-logo {
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    padding: 5px 0px;
    font-size: 25px;
    font-weight: 600;
}

.down-section p {
    color: #F2F2F2;
}

.f-logo {
    margin: 0px;
    padding: 0px 0px;
}

.up-section ul li a {
    color: #F2F2F2;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.up-section li {
    display: inline-block;
    padding: 0px 10px;
    list-style: none;
}

.up-section {
    border-bottom: 1px solid #F2F2F2;
}

.copyrigth {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #F2F2F2;
}

.down-section {
    display: flex;
    justify-content: space-between;
    padding: 1% 0px;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
}

.discord {
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.man {
    
    width: auto;
    z-index: 1;
    left: 75%;
    bottom: -36px;
    position: relative;;
}
