* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #F2F2F2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}

.logo {
    cursor: pointer;
    width: 8rem;
    margin-right: auto;
}

li, a, .add {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #514F8C;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 60px;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #af8ec5;
}

.add {
    padding: 4px 25px;
    background-color: #514F8C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #F2F2F2;
    font-weight: 300;
    transition: all 0.3s ease 0s;
    outline-style: none;
}

.add:hover {
    background-color: #9377A6;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #514F8C;
    margin: 5px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        background-color: #514F8C;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.presentation {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 92vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text1 {
    font-size: 72px;
    font-weight: 600;
    color: #514F8C;
}

.introduction-2 {
    flex: 1;
}

.intro-text2 {
    font-size: 20px;
    font-weight: 400;
    color: #514F8C;
}

.cta {
    padding: 30px 0px;
    overflow: hidden;
}

.addme {
    border: none;
    border-radius: 10px;
    background-color: #514F8C;
    color: #F4F4F4;
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
}

.ilust-container {
    flex: 1;
}

.grlp {
    position: relative;
    bottom: 10px;
    left: 0px;
    width: 100%;
    z-index: -1;
}

.feat-box {
    display: flex;
    /*width: 85%; */
    width: 95%; 
    margin: 50px auto;
    border-radius: 40px;
    min-height: 70vh;
    background-color: #514F8C;
}

.ft-intro h1 {
    margin: 38px 0px 0px 80px;
    font-size: 40pt;
    color: #F2F2F2;
    font-weight: 600;
}

.prefix {
    margin: 5px 0px 0px 80px;
    border-radius: 10px;
   
    max-width:  33%;
    padding: 5px 20px 5px 10px ;
    height: auto;
    background-color: #F2F2F2;
    align-items: center;
}

.ft-intro p {
    margin: auto;
    font-size: 14pt;
    color: #514F8C;
    font-weight: 600;
}
.party {
    left: 7.4cm;
    bottom: 10px;
    position: relative;
    width: 40%;
    
}
.desc-container {
    width: 40%;
    margin: auto;
    flex: 1;
    display: flex;
}
.desc-container p {
    color: azure;
    font-weight: 500;
    flex-direction: column;

}

