* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #F2F2F2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}

.logo {
    cursor: pointer;
    width: 8rem;
    margin-right: auto;
}

li, a, .add {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #514F8C;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 60px;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #af8ec5;
}

.add {
    padding: 4px 25px;
    background-color: #514F8C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #F2F2F2;
    font-weight: 300;
    transition: all 0.3s ease 0s;
    outline-style: none;
}

.add:hover {
    background-color: #9377A6;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #514F8C;
    margin: 5px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        background-color: #514F8C;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cta {
    padding: 30px 0px;
    overflow: hidden;
}
.cat-container {
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    
}
.cat {
    position: absolute;
    z-index: 1;
}
.commands {
    display: flex;
    width: 90%;
    margin: 120px auto;
    min-height: auto;
    align-items: center;
}

.table-container {
    flex: 1;
}

.msc-text {
    font-size: 40px;
    font-weight: 600;
    color: #514F8C;
}
.memes-text {
    font-size: 40px;
    font-weight: 600;
    color: #514F8C;
    padding-top: 000px;

}
.gerais-text {
    font-size: 40px;
    font-weight: 600;
    color: #514F8C;

}





















/*Footer */
footer {
    background-color: #9377A6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.up-section ul {
    margin: 0px;
    padding: 0px 20px;
}
.up-section  {
    display: flex;
    justify-content: space-between;
    padding: 1% 0px;
    align-items: center;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
}
.f-logo {
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    padding: 5px 0px;
    font-size: 25px;
    font-weight: 600;
}


.down-section p {
    color: #F2F2F2;
}

.f-logo {
    margin: 0px;
    padding: 0px 0px;
}
.up-section ul li a {
    color: #F2F2F2;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    
    
}
.up-section  li  {
    display: inline-block;
    padding: 0px 10px;
    list-style: none;
}

.up-section {
   border-bottom: 1px solid #F2F2F2;
  
}
.copyrigth {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #F2F2F2;
}
.down-section{
    display: flex;
    justify-content: space-between;
    padding: 1% 0px;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
}
.discord {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
